<div class='bannerContent'>
    <div id="intro">
        <h4 id="hi" class="hand-write">Hi, I'm</h3>
            <h2 id="my-name">
                <div id="victor" class="hand-write">Victor</div>
                <div id="grinan" class="hand-write"> Griñán</div>
            </h2>
            <h4 id="developer" class="hand-write">a <span>web developer</span></h3>
    </div>

    <div id="welcome">
        <h4 id="welcome-to" class="flying1 hand-write">Welcome to </h4>
        <h1 id='portfolio-word' class="flying2 hand-write">"My <span class='portfolioWord'>
                Portfolio</span>"</h1>
    </div>
</div>