<h1>login</h1>
<form action='POST'>
    <div><input type="text" class="email" name="email"></div>
    <div><input type="text" class="password" name="password"></div>
    <input type="submit" value="login">
</form>
<a href='/register'>register instead</a>