<h1>register</h1>
<form action='POST'>
    <div><input type="text" class="email" name="email"></div>
    <div><input type="text" class="password" name="password"></div>
    <input type="submit" value="register">
</form>
<a href='/login'>login instead</a>